
.hero-section {
  background: linear-gradient(to bottom, #05152d, #03279d);
  color: white;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
.svg-container {
  display: inline-block;
}

.rolling-svg {
  transition: transform 0.5s ease-in-out;
}

.rolling-svg:hover {
  transform: rotate(360deg);
}